html,body{
    background: linear-gradient(#d0f7e7, #f6fac0, #fad8ca);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

*{
    text-decoration: none;
}

/* LANDING CSS */

.landing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 0 10vw;
    height: 100vh;
}

.landingText h1{
    font-size: 6vw;
    margin: 0 ;
    color: blueviolet;
}

.landingText h3{
    margin: 6px ;
    font-size: 20px;
    opacity: 0.3;
    line-height: 30px;
    color: blueviolet;
}





/* INFO_SECTION CSS */

.infoSection{
    height: 600px;
}


.infoCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0 40px 0;
}

.infoCards .card{
    position: relative;
    height: 360px;
    width: 350px;
  
    
}


.cardContent{
    padding: 0 20px;
}

.cardContent h2{
    font-weight: 600;
}

.cardContent p{
    line-height: 30px;
    opacity: 0.6
}




/* RESPONSIVE */


@media only screen and (max-width: 600px){

/* LANDING PAGE */

.landing{
    flex-direction: column-reverse;
    height: 750px;
    align-items: center;
    justify-content: center;
    text-align: center
}

.landingText h1{
    font-size: 6vw;
    margin: 0;
}

.landingText h3{
    font-size: 16px;
}


.infoSection{
    height: auto;
}

.infoHeader{
    text-align: center;
    margin: 40px 0;
}

.infoCards{
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center
}

.infoCards .card{
    margin-bottom: 120px;
}
}