header {
    margin-top: 50px;
}

main {
    font-family: futura;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: black;
}

a :hover {
    text-decoration: none;
    color: coral;
}

.first {
    background-color: aquamarine;
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.second {
    background-color: aquamarine;
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.third {
    background-color: aquamarine;
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fourth {
    background-color: aquamarine;
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.last {
    background-color: aquamarine;
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}