html{
    background: linear-gradient(#89c0a9, #dae08f, #f8c0a9);
}

header {
    margin-top: 50px;
}

main {
    font-family: futura;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    animation: trans 4s;
    animation-iteration-count: infinite;
}


@keyframes trans{
    from {
        transform: scale(1);
    }
    25% {
        transform: scale(.5);
    }
    to {
        transform: scale(2);
    }
}

a {
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: none;
    color: coral;
  }

.first {

    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.second {
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.third {
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fourth {
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.last {
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
