html{
    background: linear-gradient(#89c0a9, #bec0a9, #f8c0a9);
}

header {
    margin-top: 50px;
}

main {
    font-family: futura;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: black;
}

a :hover {
    text-decoration: none;
    color: coral;
}

.first {

    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.second {
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.third {
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fourth {
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.last {
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}