@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Tenor+Sans&display=swap');

body {
    font-family: 'Julius Sans One', sans-serif;
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0;
}

h2 {
    text-align: center;
    font-weight: normal;
    font-size: xx-large;
    padding: 3rem;
}

.frame-dimension {
    text-align: right;
}

.frame-container {
    padding: 1rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.frame-container:hover {
    background-color: black;
    color: white;
}

.frame-image {
    width: 70%;
    height: auto;
    display: none;
    
}

.frame-image.active {
    display: block;

}

.frame-description {
    display: none;
}

.frame-description.active {
    display: block;
}